@font-face {
  font-family: 'proxima_bold';
  src: url('../font/proxima_nova_alt_rgbold.eot');
  src: url('../font/proxima_nova_alt_rgbold.eot?#iefix') format('embedded-opentype'), url('../font/proxima_nova_alt_rgbold.woff2') format('woff2'), url('../font/proxima_nova_alt_rgbold.woff') format('woff'), url('../font/proxima_nova_alt_rgbold.ttf') format('truetype'), url('../font/proxima_nova_alt_rgbold.svg#proxima_nova_alt_rgbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_regular';
  src: url('../font/proxima_nova_alt_rgregular.eot');
  src: url('../font/proxima_nova_alt_rgregular.eot?#iefix') format('embedded-opentype'), url('../font/proxima_nova_alt_rgregular.woff2') format('woff2'), url('../font/proxima_nova_alt_rgregular.woff') format('woff'), url('../font/proxima_nova_alt_rgregular.ttf') format('truetype'), url('../font/proxima_nova_alt_rgregular.svg#proxima_nova_alt_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 10px;
  line-height: 1.5;
}
body {
  font-family: 'proxima_bold', sans-serif;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
textarea:focus {
  outline: none;
}
section {
  padding: 10rem 0 ;
}
.section-header {
  margin: 2rem 0 10rem;
  text-align: center;
}
.section-header-light {
  color: #ffffff;
}
.section-header h2 {
  font-family: 'proxima_regular', sans-serif;
  font-weight: bold;
  font-size: 3.6rem;
}
.section-header p {
  font-size: 1.4rem;
}
.main {
  background: url(../img/4.jpg) center center no-repeat;
  background-size: cover;
  padding: 3rem 0 5rem;
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 4rem;
  font-family: 'proxima_regular', sans-serif;
  font-weight: bold;
  font-size: 4rem;
  text-transform: uppercase;
}
.main-content-subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.main-content span {
  display: inline-block;
  padding: 3rem 5rem;
  background-color: #00b83e;
  color: #ffffff;
  text-align: center;
}
.main-content span strong {
  font-size: 3rem;
  font-family: 'proxima_regular', sans-serif;
  font-weight: bold;
}
.main-content-trigger {
  display: block;
  margin-top: 4rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'proxima_regular', sans-serif;
  font-weight: bold;
}
.main-form {
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
}
.main-form-header {
  font-size: 1.8rem;
}
.main-form strong {
  font-size: 1.9rem;
}
.main-form-input {
  display: block;
  border: 1px solid #dddddd dd;
  width: 100%;
  padding: 1.5rem;
  margin: 2rem 0;
  border-radius: 5px;
}
.main-form label {
  display: inline-block;
  left: 50%;
  transform: translatex(-50%) translatey(-50%);
  position: absolute;
  background-color: #ffffff;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
}
.main-form-btn {
  display: block;
  height: 5.5rem;
  font-size: 1.6rem;
  width: 100%;
}
.button {
  padding: 1rem 3rem;
  text-transform: uppercase;
  border: none;
  font-size: 1.2rem;
  border-radius: 8px;
  background-color: #e99700;
  color: #ffffff;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #c58000;
}
.header {
  height: 7rem;
}
.phone {
  text-align: right;
}
.phone-link {
  width: 20rem;
  display: inline-block;
  font-family: 'proxima_regular', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #000000;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-family: 'proxima_regular', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.features-block p {
  font-size: 1.4rem;
  display: inline-block;
  width: 80%;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  background-size: 100%;
}
.prev {
  background-image: url(../img/right.png);
  width: 7rem;
  height: 7rem;
  right: 0;
}
.next {
  background-image: url(../img/left.png);
  width: 7rem;
  height: 7rem;
  left: 0;
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup-content {
  position: fixed;
  text-align: center;
  left: 50%;
  top: 10%;
  background-color: #ffffff;
  transform: translatex(-50%);
  padding: 4rem 6rem;
}
.popup-header {
  font-family: 'proxima_regular', sans-serif;
  font-weight: bold;
}
.price {
  background: #00b83e;
}
.price-header-btn {
  margin-top: 2.5rem;
}
.price-button {
  float: right;
}
.price-block {
  min-height: 60rem;
  padding: 2rem 3rem ;
  background-color: #ffffff;
  box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
  margin-top: 2rem;
}
.price-block h4 {
  margin: 3rem 0;
  font-size: 1.9rem;
  font-family: 'proxima_regular', sans-serif;
  font-weight: bold;
}
.price-block img {
  width: 100%;
  max-width: 50rem;
  display: inline-block;
  margin-bottom: 2rem;
}
.price-tag {
  font-size: 1.9rem;
  font-family: 'proxima_regular', sans-serif;
  font-weight: bold;
}
.price-list {
  padding: none;
  list-style: none;
  min-height: 15rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.price-list li:before {
  content: '';
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  background: url(../img/part_2/check.png) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
  margin-right: 1rem;
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .main-content {
    margin-top: 2rem;
  }
  .main-title {
    padding: 3rem;
    text-align: center;
  }
  .phone-block {
    text-align: center;
  }
  .price-button {
    text-align: center;
    font-size: 2rem ;
    padding: 0 2rem;
    float: none;
  }
  .price-header-btn {
    margin-bottom: 0;
  }
  .section-header-light {
    margin-bottom: 0;
  }
}
@media (max-width: 676px) {
  .main {
    background: top top;
  }
  .logo {
    text-align: center;
  }
  .wrap {
    text-align: center;
  }
}
